<!DOCTYPE html>
<html lang="en">
{{ partial "head"}}
<body>
        <a href="#" id="scroll" style="display: inline;"><span></span></a>
    

    
    
            {{ partial "header"}}
            <!-- {{ partial "sidenav"}} -->
            
        
            
        {{block "news-slider".}}

        {{end}}
      
        {{ block "main" . }}

        {{end}}

        {{ block "2nd" . }}

        {{end}}
    
        {{ partial "footer"}}
    
    

<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<!-- news slider -->
<script>
    $(document).ready(function(){
    
	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   4000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});
</script>
<!-- complete the login and get back to the CMS, redirect the user back to the /admin/ path -->
<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  });
	}
  </script>
  </body>
</html>