      <!-- top-navbar -->
      <nav class="navbar-fixed-top tn">
          <div class="container">
            <div class="row">
              <div class="nav navbar-top">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                      <a class="btn1" href="tel:+919710394002"><i class="fas fa-mobile-alt faph"></i>91-9710394002</a>
                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                    <ul class="navli">
                      <li class="mr-1">
                        <a href="https://www.facebook.com/geotattooschennai/" target="_blank" rel="noopener" aria-label="Geo Tattoos facebook page">
                        <i class="fab fa-facebook fa-size"></i>
                      </a>
                    </li>
                      <li>
                        <a href="https://www.youtube.com/user/Geotattoos" target="_blank" rel="noopener" aria-label="Geo Tattoos youtube page">
                        <i class="fab fa-youtube fa-size"></i>
                      </a>
                    </li>
                    </ul>
                          
                          
                     
                    
                    <form class="navbar-form navbar-right">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                  </div>

              </div>
            </div>
          </div>
      </nav>
      <!-- main-navbar -->
<nav class="navbar-default navbar-fixed-top mt-5">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="index.html">indiannews.live</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tamil Nadu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Environment</a></li>
                <li><a href="#">Agriculture</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Health</a></li>
                <li><a href="#">Education</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Politics</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Employment</a></li>                
              </ul>
            </li>
          <li><a href="#">National News</a></li>
          <li><a href="#">International News</a></li>
        </ul>
        
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    
