<footer id="myFooter" class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h5>Reach us</h5>
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        Prabhat, 17, 5 'A' Main,<br>Obalappa Garden,<br>Tata Silk Farm, KR Road,<br>Bangalore, KA - 560 070.
                    </li>
                    <li>
                            <i class="fa fa-mobile"></i>
                            <a href="tel:+919710394002">91-9710394002</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:info@indiannews.live" target="_top">info@indiannews.live</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h5>Links</h5>
                <ul>
                    <li>
                        <i class="fa fa-globe"></i><a href="about.html" target="_blank" rel="noopenner" aria-label="About Indian News">About us</a>
                    </li>
                    <li>
                        <i class="fa fa-globe"></i><a href="feedback.html" target="_blank" rel="noopenner" aria-label="Send feedback">Send feedback</a>
                    </li>
                </ul>
                <h5>Social media</h5>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://twitter.com/SharatPrabhath" target="_blank" rel="noopenner" aria-label="Indian News twiter page">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharat.prabhath" target="_blank" rel="noopenner" aria-label="Indian News facebook page">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/sharatprabhath/" target="_blank" rel="noopenner" aria-label="Indian News instagram page">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/sharatrp" target="_blank" rel="noopenner" aria-label="Indian News youtube page">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                    <h5>Write to us</h5>
                    <form action="">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" name="Name" required="" aria-label="Name">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact #</label>
                            <input type="tel" class="form-control" id="contact" placeholder="Enter your contact no." name="Contact #" required="" aria-label="Contact #">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" id="message" placeholder="Enter your message" rows="3" required="" aria-label="message" spellcheck="false"></textarea>
                        </div>
                        <button class="btn submit" id="submit" type="submit" name="submit" value="Submit">Submit</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="second-bar">
       <div class="container">
            <h4 class="text-center">Copyright © 2019 - Indian News.<br>All Rights Reserved.<br>Made with&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>&nbsp;by&nbsp;<a href="https://www.tensketch.com/" target="_blank" rel="noopener">TenSketch</a></h4>
        </div>
    </div>
</footer>